removals {
  dictionary CredentialCreationOptions {
    member digital    // Blink test-only as of 2025-12
    member federated  // Blink only as of 2025-12
    member password   // Blink only as of 2025-12
    member mediation  // WebKit only as of 2025-12 (and under test in Blink)
  }
}
