enum FontDisplay {
    // https://w3c.github.io/csswg-drafts/css-fonts-4/#font-display-desc
    auto
    block
    swap
    fallback
    optional
}

dictionary FontFaceDescriptors {
    member display type=FontDisplay
}

interface CSSFontFaceRule {
  // CSS Fonts Level 4 now says CSSFontFaceDescriptors
  // but nobody implements it as of 2024-04
  // https://github.com/w3c/csswg-drafts/pull/9686
  property style type=CSSStyleProperties
}
