// Manually moved from Document
// See https://github.com/w3c/csswg-drafts/issues/5886 and https://github.com/w3c/csswg-drafts/issues/556
interface-mixin DocumentOrShadowRoot {
  method elementFromPoint {
    type Element nullable=#true
    param x type=long
    param y type=long
  }
  method elementsFromPoint {
    type sequence {
      type Element
    }
    param x type=long
    param y type=long
  }
}

// No implementation of Promise return values as of 2025-11
interface Element {
  method scroll returns=void signatureIndex=0
  method scroll returns=void signatureIndex=1
  method scrollBy returns=void signatureIndex=0
  method scrollBy returns=void signatureIndex=1
  method scrollTo returns=void signatureIndex=0
  method scrollTo returns=void signatureIndex=1
  method scrollIntoView returns=void signatureIndex=0
}

interface Window {
  method scroll returns=void signatureIndex=0
  method scroll returns=void signatureIndex=1
  method scrollBy returns=void signatureIndex=0
  method scrollBy returns=void signatureIndex=1
  method scrollTo returns=void signatureIndex=0
  method scrollTo returns=void signatureIndex=1
}
