// CSSStyleDeclaration spec change broke a bunch of DT packages.
// This tries to make existing usages work while still keeping the new
// CSSStyleProperties.

interface CSSStyleDeclaration \
  forward=CSSStyleDeclarationBase \
  forwardExtends=CSSStyleProperties

interface CSSStyleProperties replaceReference=CSSStyleDeclaration {
  property wordWrap deprecated="`word-wrap` is a legacy alias of `overflow-wrap`."
}

removals {
  interface CSSStyleProperties {
    // The corresponding standardized property is not supported by
    // anyone as of 2024-10.
    property webkitLineClamp deprecated=""
  }
}
