// https://w3c-fedid.github.io/digital-credentials/

interface DigitalCredential {
  property protocol type=DigitalCredentialPresentationProtocol
}

removals {
  enum DigitalCredentialPresentationProtocol {
    openid4vp-v1-multisigned
    openid4vp-v1-signed
    openid4vp-v1-unsigned
  }
}
