// Keeping EventListener and EventListenerObject isn't the most elegant way to handle the event listeners, but we need to keep the EventListener as an extendable interface for libraries like angular.
interface EventListener noInterfaceObject=#true {
  method "" returns=undefined {
    param evt type=Event
  }
}

interface EventListenerObject noInterfaceObject=#true {
  method handleEvent returns=undefined {
    param object type=Event
  }
}

interface EventTarget {
  method addEventListener signatureIndex=0 {
    param callback type=EventListenerOrEventListenerObject
  }
  method removeEventListener signatureIndex=0 {
    param callback type=EventListenerOrEventListenerObject
  }
}

interface Document {
  property documentElement {
    type HTMLElement nullable=#false
  }
}

interface MutationRecord {
  property type type=MutationRecordType
}

enum InsertPosition {
  beforebegin
  beforeend
  afterbegin
  afterend
}

// ChildNode and ParentNode are actually defined as mixins, but because of their names they have historically been used as a sub-interface of Node.
interface-mixin ChildNode extends=Node
interface-mixin ParentNode extends=Node
