enum ImageOrientation {
    // The spec removed this but it's still in browsers and WebKit doesn't support the new one.
    // Keep it until it's safer to fully migrate.
    // See https://github.com/microsoft/TypeScript-DOM-lib-generator/issues/1507#issuecomment-1454792451
    none
}

interface HTMLTableDataCellElement extends=HTMLTableCellElement exposed=Window deprecated="prefer HTMLTableCellElement" noInterfaceObject=#true
interface HTMLTableHeaderCellElement extends=HTMLTableCellElement exposed=Window deprecated="prefer HTMLTableCellElement" noInterfaceObject=#true
interface HTMLDocument extends=Document exposed=Window

interface-mixin MessageEventTarget overrideThis=T typeParameters=T

interface-mixin WindowEventHandlers {
  property onunload deprecated="The unload event is not reliable, consider visibilitychange or pagehide events."
}

// Blink and Gecko support precommit but BCD is not updated yet
// https://bugzilla.mozilla.org/show_bug.cgi?id=1970123
interface NavigationPrecommitController exposed=Window {
  method redirect exposed=Window
}
interface NavigationTransition {
  property committed exposed=Window
}
