enum ImageOrientation {
    // The spec removed this but it's still in browsers and WebKit doesn't support the new one.
    // Keep it until it's safer to fully migrate.
    // See https://github.com/microsoft/TypeScript-DOM-lib-generator/issues/1507#issuecomment-1454792451
    none
}

interface HTMLTableDataCellElement extends=HTMLTableCellElement exposed=Window deprecated="prefer HTMLTableCellElement" noInterfaceObject=#true
interface HTMLTableHeaderCellElement extends=HTMLTableCellElement exposed=Window deprecated="prefer HTMLTableCellElement" noInterfaceObject=#true
interface HTMLDocument extends=Document exposed=Window

interface HTMLIFrameElement {
  property referrerPolicy type=ReferrerPolicy
  property loading overrideType=#""eager" | "lazy""#
}

interface HTMLTableElement {
  property rows {
    type HTMLCollectionOf {
      type HTMLTableRowElement
    }
  }

  property tBodies {
    type HTMLCollectionOf {
      type HTMLTableSectionElement
    }
  }
}

interface HTMLTableSectionElement {
  property rows {
    type HTMLCollectionOf {
      type HTMLTableRowElement
    }
  }
}

interface-mixin MessageEventTarget overrideThis=T typeParameters=T

interface-mixin WindowEventHandlers {
  property onunload deprecated="The unload event is not reliable, consider visibilitychange or pagehide events."
}

interface HTMLImageElement {
  property decoding overrideType=#""async" | "sync" | "auto""#
  property loading overrideType=#""eager" | "lazy""#
}

interface HTMLInputElement {
  property labels {
    type NodeListOf {
      type HTMLLabelElement
    }
  }
  property autocomplete type=AutoFill
  property valueAsDate type=Date
  property selectionDirection type=SelectionDirection
  method setSelectionRange signatureIndex=0 {
    // nullable types because we want to allow passing selectionStart/End properties, which are nullable.
    // See also https://github.com/microsoft/TypeScript-DOM-lib-generator/pull/878.
    param start {
      type nullable=#true
    }
    param end {
      type nullable=#true
    }
    param direction type=SelectionDirection
  }
}

typedef SelectionDirection overrideType=#""forward" | "backward" | "none""#

dictionary StructuredSerializeOptions {
  member transfer {
    type {
      type Transferable
    }
  }
}

removals {
  dictionary CanvasRenderingContext2DSettings {
    member colorType // Blink-only as of 2025-12, being tested in WebKit
  }
}
