interface-mixin PushManagerAttribute {
  // Windows support only on WebKit as of 2025-10
  property pushManager exposed=ServiceWorker
}

removals {
  dictionary PushEventInit {
    member notification // WebKit only as of 2025-12
  }
}
