// https://w3c.github.io/webrtc-pc/

removals {
  dictionary RTCLocalIceCandidateInit {
    member relayProtocol // Blink only as of 2025-04
    member url // Blink only as of 2025-04
  }

  dictionary RTCPeerConnectionIceEventInit {
    member url // WebKit only as of 2025-04
  }

  dictionary RTCRtpEncodingParameters {
    member codec // Blink only as of 2024-11
  }
}

interface RTCSctpTransport {
  property maxMessageSize {
    // https://github.com/w3c/webrtc-pc/pull/3094 made it nullable,
    // but nobody implements it as of 2026-03
    type nullable=#false
  }
}
